*{
    margin: 0;
    font-family: Arial;
    border: border-box;

}
.nav{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.n-logo{
    height: 50px;
    width: 110px;

}
.logo{
    background-image: url("img/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.7px solid transparent;
}
.border:hover{
    border: 1.7px solid whitesmoke;
}
/* designing the deliver to India section */
.deliver{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
    /* font size is iven in rem to make the site little responsive of the size */

}
.coutry{
    font-size: 1rem;
    margin-left: 3px;
    
}
.icon-locatn{
    display: flex;
    align-items: center;
}
/* styling the search bar and dropdown */
.search{
    display: flex;
    justify-content: space-evenly;
    width: 650px;
    height: 45px;
    background-color: rgb(248, 114, 4);
    border-radius: 2px;
}
.select{
    background: color #f3f3f3;
    width: 45px;
    text-align: center;
     border-top-left-radius: 2px;
     border-bottom-left-radius: 2px;
     border: none;

}
.input{
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-top-right-radius: 2px;
     border-bottom-right-radius: 2px;
     color: #0f1111;
}
.en{
   background-color: #0f1111;
   font-size: 0.9rem;
    font-weight: 700;
    display: flex;
} 
.en i{
    font-size: 30px;
    background-color: #0f1111;
    width: 45px;

}
.engl{
   width: 50px; 
    font-size: 0.9rem;
    font-weight: 700;
    display: flex;
}

/* sign-in &account */
span{
    font-size: 0.7rem;
}
.sigin{
    font-size: 0.85rem;
    font-weight: 700;
}
.search:hover{
    border: 2px solid orange;
}
/* cart  */
.cart i{
    font-size: 30px;

}
.cart{
    font-size: 0.9rem;
    font-weight: 700;
}
/* panel */
.option{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    
}
.options p{
    display: inline;
    margin-left: 25px;

}
.options{
    width: 70%;
    font-size: 0.85rem;
   
}
.deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/* hero section the main section */
.hero-section{
    background-image: url("img/hero_image.jpg");
    height: 300px;
    background-size: cover;
    
}
/* shop section */
.shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    /* border: 2px solid black; */
    padding: 20px 0px 15px;
    margin-top: 10px;
    flex-wrap: wrap;
    

    
}
.box-img{
    height: 300px;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;

   

}
.box-content{
    margin-left:1 rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;

}
/* footer section */
footer{
    margin-top: 20px;

}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.foot-panel1:hover{
    background-color:#526a88 ;
    text-decoration: none;
}
.foot-panel1 a{
    text-decoration: none;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}
ul{
    margin-top: 30px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddd;
}

.foot-panel3{
    background-color: #222f3d;
    border-top: 0.5px solid #dddd;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("img/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    
    
}
.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;

}
.copyright{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 7px;


}
